.flex-item {
	margin: auto;
	text-align: left;
    font-size: 1.2em;
    flex: 1;
    height: max-content;
    width: 50%;
}

.wrap {
    flex-wrap: wrap;
}

#ebook-image {
    transform: scale(0.9);
    position: relative;
    top: -4vh;
}

.ebook-image-flex{
    width: 50%;
    flex: 1;
}

.contentContainer-Ebook {
    display: flex;
    flex: auto;
}

#margin-7 {
    margin-top: -7vh;
}

#margin-14 {
    margin-top: -14vh;
}


@media only screen and (max-width: 1486px) {
    .contentContainer-Ebook {
        margin-top: 6vh !important;
    }

    .ebook-image-flex{
        width: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .flex-item {
        text-align: center;
    }

    #ebook-image {
        width: 80vw;
    }
}

@media only screen and (max-width: 520px) {
    .flex-item {
        text-align: left;
    }

    #ebook-image {
        width: 92vw;
    }
}

/**/